.navbar {
    background-color: #d1fae5; 
    opacity: 0.9; /* Equivalent to bg-opacity-80 */
    z-index: 80;
  }


.forPc{
    display: block
}
.forPhone{
    display: none
}

@media (max-width: 768px) {
    .forPc{
        display: none
    }
    .forPhone{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}