@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-myGradient {
    background-image: linear-gradient(to right, #9af8f0, #3affa3);
}

.myBtn{
    color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 600; /* font-semibold */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-xl */
    background-image: linear-gradient(to right, #0408f7, #920423); /* bg-gradient-to-r */
    border-radius: 0.375rem; /* rounded-md */
    transition: background-image 0.3s ease; /* transition duration-300 */
  }
  
  .myBtn:hover {
    background-image: linear-gradient(to left, #08b9ff, #920404); /* hover:gradient */
  }
  

  .resOutLet{
    padding-top: 6%;
  }

  @media (max-width: 768px) {
    .resOutLet{
        padding-top: 20%;
    }
  }


  .moto-heading {
    font-size: 3.5rem; 
    font-weight: bold;
    color: white;
    position: absolute;
    top: 40%;
    left: 20%;
  }
  
  @media (max-width: 768px) {
    .moto-heading {
      font-size: 3rem; 
      top: 30%;
      left: 5%;
    }
  }
  
  .moto-subtext {
    font-size: 1.5rem; /* Tailwind's text-xl */
    color: white;
    position: absolute;
    top: 40%;
    left: 35%;
    margin-top: 8%;
  }
  
  @media (max-width: 768px) {
    .moto-subtext {
      font-size: 0.9rem; /* Tailwind's md:text-2xl */
      top: 45%;
      left: 10%;
      padding: 5%;
    }
  }
  
